<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	
<mapper namespace="com.liandi.ems04.mapper.admin.AdminMapper">

	<resultMap id="adminResultMap" type="admin">
		<id column="admintype_id" property="adminTypeId"/>
		<result column="admin_type" property="adminType"/>
		<result column="create_time" property="createTime"/>
		<result column="add_dept" property="addDept"/>
		<result column="findstaff_bydeptid" property="findStaffByDeptId"/>
		<result column="deletedept_byid" property="deleteDeptById"/>
		<result column="modifydept_bystaffid" property="modifyDeptByStaffId"/>
		<result column="add_title" property="addTitle"/>
		<result column="findstaff_bytitleid" property="findStaffByTitleId"/>
		<result column="deletetitle_byid" property="deleteTitleById"/>
		<result column="modifytitle_bystaffid" property="modifyTitleByStaffId"/>
		<result column="modifysalary_bysalarylevelid" property="modifySalaryBySalaryLevelId"/>
		<result column="add_staff" property="addStaff"/>
		<result column="modifystaff_bystaffid" property="modifyStaffByStaffId"/>
		<result column="deletestaff_bystaffid" property="deleteStaffByStaffId"/>
		<result column="add_admintype" property="addAdminType"/>
		<result column="modify_admin" property="modifyAdmin"/>
		<result column="delete_admintype" property="deleteAdminType"/>
		<result column="modify_admintype" property="modifyAdminType"/>		
	</resultMap>
	
	<resultMap id="staffResultMap" type="Staff">
		<id column="id" property="id"/>
		<result column="sid" property="sid"/>
		<result column="name" property="name"/>
		<result column="gender" property="gender"/>
		<result column="hiredate" property="hiredate"/>
	<!-- 	<result column="seniority" property="seniority"/> -->
		<result column="account" property="account"/>
		<result column="password" property="password"/>
		<result column="dept_id" property="deptId"/>
		<result column="title_id" property="titleId"/>
		<result column="admintype_id" property="admintypeId"/>
	<!-- 	<result column="nation" property="nation"/> -->
		<result column="birthday" property="birthday"/>
		<result column="phone" property="phone"/>
		<result column="email" property="email"/>
	<!-- 	<result column="homeaddress" property="homeaddress"/> -->
		<result column="edubackground" property="edubackground"/>
	<!-- 	<result column="school" property="school"/>
		<result column="profession" property="profession"/> -->
		<result column="salarylevel" property="salarylevel"/>
	<!-- 	<result column="numbera" property="numbera"/>
		<result column="numberb" property="numberb"/>
		<result column="numberc" property="numberc"/> -->
	</resultMap>
	
	<!-- 根据管理员类别id查询管理员类别 -->
	<select id="findByAdminId" parameterType="int" resultMap="adminResultMap">
		select * from admintype where admintype_id = #{adminTypeId}
	</select>
	
	<!-- 查询所有管理员类别 -->
	<select id="findAllAdminType" resultMap="adminResultMap">
		select * from admintype
	</select>
	
	<!-- 修改管理员的具体权限 -->
	<update id="update" parameterType="admin">
		update admintype set add_dept=#{addDept},
			findstaff_bydeptid=#{findStaffByDeptId},deletedept_byid=#{deleteDeptById},
			modifydept_bystaffid=#{modifyDeptByStaffId},add_title=#{addTitle},
			findstaff_bytitleid=#{findStaffByTitleId},deletetitle_byid=#{deleteTitleById},
			modifytitle_bystaffid=#{modifyTitleByStaffId},
			modifysalary_bysalarylevelid=#{modifySalaryBySalaryLevelId},add_staff=#{addStaff},
			modifystaff_bystaffid=#{modifyStaffByStaffId},deletestaff_bystaffid=#{deleteStaffByStaffId},
			add_admintype=#{addAdminType},modify_admin=#{modifyAdmin},delete_admintype=#{deleteAdminType},
			modify_admintype=#{modifyAdminType}
			where admintype_id=#{adminTypeId}
	</update>
	
	<!-- 根据管理员类别id查询所有该类别下的所有员工 -->
	<select id="findStaffByAdminId" parameterType="int" resultMap="staffResultMap">
		select * from t_staff where admintype_id = #{adminTypeId}
	</select>
</mapper>





