<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	
<mapper namespace="com.liandi.ems04.mapper.advice.AdviceMapper">

	<resultMap id="adviceResultMap" type="advice">
		<id column="advice_id" property="adviceId"/>
		<result column="advice_title" property="adviceTitle"/>
		<result column="staff_id" property="staffId"/>
		<result column="advice_content" property="adviceContent"/>
		<result column="advice_time" property="adviceTime"/>
		<result column="reply_content" property="replyContent"/>
		<result column="admin_id" property="adminId"/>
		<result column="reply_time" property="replyTime"/>
	</resultMap>
	
	<!-- 添加意见 -->
	<insert id="addAdvice" parameterType="advice">
	insert into t_advice(advice_title,staff_id,advice_content,advice_time)
	values (#{adviceTitle},#{staffId},#{adviceContent},#{adviceTime})
	</insert>
	
	<!-- 修改(添加回复) -->
	<update id="addReply" parameterType="advice">
		update t_advice
		set reply_content=#{replyContent},admin_id=#{adminId},reply_time=#{replyTime}
		where advice_id=#{adviceId}
	</update>
	
	<!-- 根据意见的id删除 -->
	<delete id="deleteByAdviceId" parameterType="int">
		delete from t_advice where advice_id = #{adviceId}
	</delete>
	
	<!-- 根据staff_id查询 -->
	<select id="findByStaffId" parameterType="int" resultMap="adviceResultMap">
		select * from t_advice where staff_id = #{staffId}
	</select>
	
	<!-- 根据advice_id查询 -->
	<select id="findByAdviceId" parameterType="int" resultMap="adviceResultMap">
		select * from t_advice where advice_id = #{adviceId}
	</select>
	
	<!-- 查询所有 -->
	<select id="findAll" resultMap="adviceResultMap">
		select * from t_advice
	</select>

</mapper>





