<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	
	<mapper namespace="com.liandi.ems04.mapper.salary.SalaryLevelMapper">
		<resultMap id="salaryLevelResultMap" type="salaryLevel">
				<id column="salarylevel_id" property="salaryLevelId"/>				
				<result column="salarylevel" property="salaryLevel"/>				
				<result column="salary_base" property="salaryBase"/>
		</resultMap>
			
		<!-- 修改 -->
		<update id="update" parameterType="salaryLevel">
			update salarylevel
			set salary_base = #{salaryBase}
			where salarylevel = #{salaryLevel}
		</update>
		
		<!-- 查询所有 -->
		<select id="findAll" resultMap="salaryLevelResultMap">
			select * from salaryLevel
		</select>
		
		<!-- id查询 -->
		<select id="findByLevel" parameterType="int" resultMap="salaryLevelResultMap">
			select *
			 from salaryLevel
			where salaryLevel=#{salaryLevel}
		</select>
		
	</mapper>