<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liandi.ems04.mapper.overwork.OverworkMapper">
<resultMap id="overworkResultMap" type="overwork">
		<id column="overwork_id" property="id" />
		<id column="sid" property="sid" />
		<result column="name" property="name" />
		<result column="present_date" property="presentDate" />
		<result column="check_in" property="checkIn" jdbcType="TIME" />
		<result column="check_out" property="checkOut" />
	</resultMap>
<!-- 增加 -->
	<insert id="add" parameterType="Overwork">
		insert into
		overwork(sid,name,present_date,check_in,check_out)
		values
		(#{sid},#{name},#{presentDate},#{checkIn},#{checkOut})
	</insert>
	<!-- 根据员工编号查询 -->
	<select id="findBySid" parameterType="int" resultMap="overworkResultMap">
		select *
		from overwork where sid=#{sid}
	</select>

	<!-- 根据日期查询 -->
	<select id="findByDate" parameterType="String" resultMap="overworkResultMap">
		select
		* from overwork where present_date=#{presentDate}
	</select>

	<!-- 根据员工编号和日期查询 -->
	<select id="findBySidAndDate" parameterType="map"
		resultMap="overworkResultMap">
		select * from overwork where sid=#{sid} and
		present_date=#{presentDate}
	</select>
	
	<!-- 更新 -->
	<update id="update" parameterType="overwork">
		update overwork
		set
		check_out=#{checkOut}
		where
		sid=#{sid} and present_date= #{presentDate}
	</update>
	
	<!-- 查询全部 -->
	<select id="findAll" resultMap="overworkResultMap">
		select *from overwork
	</select>
	
	
	
	
	<!-- 分页根据员工编号查询 -->
	<select id="findBySidPage" parameterType="int" resultMap="overworkResultMap">
		select *
		from overwork where sid=#{sid,jdbcType=INTEGER} limit
		#{startPos},#{pageSize}
	</select>
	
	<!-- 根据员工编号查询取得记录的总数 -->
	<select id="getOverworkCountBySid" resultType="long">
		select count(*) from overwork WHERE sid = #{sid,jdbcType=INTEGER}
	</select>
	
	
	
	<!-- 分页根据当前日期查询 -->
	<select id="findByDatePage"  resultMap="overworkResultMap">
		select *
		from overwork where present_date=#{presentDate,jdbcType=VARCHAR} limit
		#{startPos,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
	</select>
	
	<!-- 根据当前日期查询取得记录的总数 -->
	<select id="getOverworkCountByDate"  resultType="long">
		select count(*) from overwork where present_date=#{presentDate,jdbcType=VARCHAR	}
	</select>



	<!-- 分页查询全部 SQL语句 -->
	<select id="findAllPage" resultMap="overworkResultMap">
		select *
		from overwork  limit
		#{startPos},#{pageSize}
	</select>
	<!-- 查询全部取得记录的总数 -->
	<select id="getOverworkCount" resultType="long">
		select count(*) from overwork
	</select>
	
	
</mapper>