<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ems04</display-name>

  
  <!-- 配置字符集编码的过滤器 -->
	
	<filter>  
		  <filter-name>SetCharacterEncodingFilter</filter-name>  
		  <!-- 过滤器设置编码文件 -->  
		  <filter-class>com.liandi.ems04.filter.SetCharacterEncodingFilter</filter-class>  
		  <init-param>  
			   <param-name>encode</param-name>  
			   <param-value>UTF-8</param-value>  
		  </init-param>  
	</filter>  
	
	 <filter-mapping>  
		  <filter-name>SetCharacterEncodingFilter</filter-name>  
		  <url-pattern>*.action</url-pattern>  
	 </filter-mapping>  
 
 
 
    
    <!-- Spring配置文件 -->
           <!-- needed for ContextLoaderListener -->
	<context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	
	<!-- 加载Spring容器的监听器 -->
	<listener>
	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- SpringMVC DispatcherServlet -->
	    
	<servlet>
	    <servlet-name>DispatcherServlet</servlet-name>
	    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>	
	    <!-- 配置DispatcherServlet的一个初始化参数, 该参数的作用:配置SpringMVC配置文件的位置和名称  -->
	    <init-param>
	        <param-name>contextConfigLocation</param-name>
	        <param-value>classpath:springmvc.xml</param-value>
	    </init-param>
	    <!-- 初始化时加载 -->
	    <load-on-startup>1</load-on-startup>
	</servlet>
	

	<servlet-mapping>
	    <servlet-name>DispatcherServlet</servlet-name>
	    <url-pattern>*.action</url-pattern>
	</servlet-mapping>
	 
	
</web-app>